input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin: 0.15rem 20px 0 10px !important;
    cursor: pointer;
}

.b-card {
    height: 40px !important;
    padding-top: 5px !important;
}

.title {
    font-size: 1rem;
    display: inline-block;
    width: 60%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.b-card mat-icon {
    display: none;
}

.b-card:hover mat-icon {
    display: block;
    float: right;
    cursor: pointer;
}

.d-scroll {
    height: calc(100vh - 70px);
    overflow-y: scroll;
}

.menu-right {
    margin-left: auto;
    margin-right: 20px;
}

.show-c {
    display: none;
}

.add-button {
    position: absolute;
    top: 88%;
    right: 5%;
}

@media screen and (max-width: 990px) {
    .hide-c {
        display: none !important;
    }
    .show-c {
        display: block !important;
    }
    .col-md-3 {
        width: 91% !important;
    }
    .border-bottom {
        border-bottom: none !important;
    }
    .border-end {
        border-right: none !important;
    }
    .add-button {
        top: 70% !important;
    }
}