<!-- <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar w/ text</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img style="margin-left: 20px;" src="../../assets/logoipsum-logo-8.svg"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav menu-right">
        <a class="nav-item nav-link active" href="#">MOBILE</a>
        <a class="nav-item nav-link" href="#">LINK TWO</a>
        <a class="nav-item nav-link" href="#">LINK THREE</a>
      </div>
    </div>
</nav>
<div class="row m-0 d-scroll">
  <div class="col-md-3 border-end">
    <h1 class="fw-bold p-5 border-bottom">To Do List</h1>
    <div style="margin-left: 3rem;">
      <input (keyup)="onSearchTextChange($event)" class="w-100 mb-3 h-40 show-c" type="text" placeholder="Start Typing...">
      <div *ngFor="let item of nonCompletedList">
        <div class="border h5 shadow w-100 b-card">
          <input class="form-check-input me-1" type="checkbox" [value]="item.id">
          <span class="title">{{item.title}}</span>
          <mat-icon (click)="onDelete(item.id)">delete</mat-icon><mat-icon (click)="editDialog(item)">edit</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 hide-c border-end">
    <h1 class="fw-bold p-5 border-bottom">Done</h1>
    <div style="margin-left: 3rem;">
      <div *ngFor="let item of completedList">
        <div class="border h5 shadow w-100 b-card">
          <input class="form-check-input me-1" type="checkbox" [value]="item.id" checked>
          <span class="title">{{item.title}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 hide-c">
    <h1 class="fw-bold border-bottom" style="padding: 4rem;"></h1>
  </div>
</div>
<div class="add-button">
  <button mat-mini-fab color="primary" (click)="addDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div id="overlay" *ngIf="loading">
  <div class="spinner"></div>
  <br/>
  Loading...
</div>
<ng-template #eDialog let-data>
	<h1 mat-dialog-title class="mb-4 text-center">{{data.title}}</h1>
	<mat-dialog-content>
    <div class="row m-0 mb-2">
      <div class="col-md-3">Name</div>
      <div class="col-md-9">
        <input type="text" class="w-100" [(ngModel)]="data.todo.title"/>
      </div>
    </div>
    <div class="row m-0 mb-2">
      <div class="col-md-3">Completed</div>
      <div class="col-md-9">
        <input class="form-check-input" type="checkbox" [value]="data.todo.id"
          [checked]="data.todo.completed" (change)="data.todo.completed = !data.todo.completed">
      </div>
    </div>
    <div class="row m-0">
      <button mat-raised-button color="primary" (click)="onEdit(data.todo)">Update</button>
    </div>
  </mat-dialog-content>
</ng-template>
<ng-template #aDialog let-data>
	<h1 mat-dialog-title class="mb-4 text-center">{{data.title}}</h1>
	<mat-dialog-content>
    <div class="row m-0 mb-2">
      <div class="col-md-3">Name</div>
      <div class="col-md-9">
        <input type="text" class="w-100" [(ngModel)]="data.todo.title"/>
      </div>
    </div>
    <div class="row m-0 mb-2">
      <div class="col-md-3">Completed</div>
      <div class="col-md-9">
        <input class="form-check-input" type="checkbox" [value]="data.todo.id"
          [checked]="data.todo.completed" (change)="data.todo.completed = !data.todo.completed">
      </div>
    </div>
    <div class="row m-0">
      <button mat-raised-button color="primary" (click)="onAdd(data.todo)">Add</button>
    </div>
  </mat-dialog-content>
</ng-template>